
.modaloverlay{
    z-index:10;
    width:89vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;;
    background:rgba(0,0,0,0.01);
    display:flex;
    justify-content:center;
    align-items:center;
    backdrop-filter: blur(4px);
}

.modalbox{
    display:block;
    background:white;
    width:40%;
    height:60%;
    display: flex;
    flex-direction: column;
    border:solid black 5px;
    border-radius:15px;
}

.header{ 
    flex:1;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: row;
    border-radius:10px 10px 0px 0px;
}

#pokemonName{
    flex:6;
    display: flex;
    justify-content: stretch;
    margin-left:5%;
    font-size:x-large;
    font-weight:600;
}

.voteButtons{
    flex:1;
    display:flex;
    justify-content: flex-end;
}

#upvoteButton, #downvoteButton{
    max-width:35px;
    max-height:35px;
    margin-right:10%;
}



img{
    width:100px;
    height:100px;
    flex:1;
}

.info{
    flex:9;
    display:flex;
    flex-direction: row;
    align-items:center;
    border:solid black 1px;
    word-wrap: break-word;
    font-size:0.75rem;
}

.bilde{
    margin:5%;
    justify-self:center;
    align-self: center;
    height:auto;
    flex:1;
}

.evoInfo{
    flex:1;
}

.footer{ 
    flex:2;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius:0px 0px 10px 10px;
}



#addToTeam, #removeFromTeam{
    flex:1;
    max-width: fit-content;
}

.addremovebutton {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  font-family: "Pixeloid";
  font-size: 80%;
  position: relative;
  transition: all .1s;
  user-select: none;
  -webkit-user-select: none;
  margin-left:5%;
  margin-right:5%;
}

.addremovebutton:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
}

.addremovebutton:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

#pokenummer{
    font-family:'Pixeloid';
    font-size:medium;
    
}