@font-face {
    font-family: "Pixeloid";
    src: local("PixeloidSans-nR3g1"),
      url("./Fonts/PixeloidSans-nR3g1.ttf") format("truetype");
  }

body{
  /*background-image: linear-gradient(20deg, rgb(255,0,0,1), rgb(255,255,255, 1), rgb(255,0,0,1),rgb(0,0,0, 0.7), rgb(255,0,0,1),rgb(255,255,255, 1), rgb(255,0,0,1),rgb(0,0,0, 0.7), rgb(255,0,0,1));*/
  background-image:url('../public/images/background.png');
  background-size:auto;
  background-repeat: repeat;;
}