.searchbar{
    display:flex;
    flex-direction:row;
    width:90vw;
    padding-top:20px;
    padding-bottom:30px;
    border-bottom: solid yellow 2px;
}

#type1select, #type2select{
    margin-left:3%;
    margin-right:3%;
    max-width:fit-content;
}

#headWrapper{
    width:90vw;
    display:flex;
    flex-direction:column;

}

.overskrift{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width:90vw;
    font-family: "Pixeloid";
    font-size:x-large;
    font-weight:600;
    color:yellow;
    text-shadow:
    -1px -1px 0 blue,
     0   -1px 0 blue,
     1px -1px 0 blue,
     1px  0   0 blue,
     1px  1px 0 blue,
     0    1px 0 blue,
    -1px  1px 0 blue,
    -1px  0   0 blue;
}


#searchField{
    font-size: 19px;
    border-radius:9px;
    height:auto;
}

.sokefelt{
    flex:4;
    display:flex;
    align-items: center;
    justify-content: center;

}
.sortfelt{
    flex:4;
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

.types{
    flex:3;
    display:flex;
    justify-content:center;
}


#sortBy{
    height:100%;
    margin-right:1%;
    border-radius: 10px;
}

#searchbutton, #clearbutton{
    width:fit-content;
    border-radius: 10px;
    margin-left:2%;
}

#sortselect, #orderselect{
    margin-left:3%;
    border-radius:10px;
    border-bottom:solid 2px;
    border-right:solid 2px;
}