.sidebar{
    z-index:500;
    width:10vw;
    position:fixed;
    right:0px;
    top:0px;
    height:100vh;
    display:flex;
    flex-direction: column;
    font-family: "Pixeloid";
    border-left:solid green 2px;
    background: repeating-linear-gradient(
   180deg,
   lightgreen,
   white 5px,
   lightgreen 2.5px,
   white 5px
   );
}


.trainernameinput{
    flex:3;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

#trainerNameInput{
    border-radius:5px;
    display:flex;
    margin-left:3%;
    margin-right:3%;
    margin-bottom:3%;
}

#setTrainerButton{
    display:flex;
    margin-left:3%;
    margin-right:3%;
    margin-top:3%;
    border-radius:5px;
}

.visTrainer{
    flex:3;
    display:flex;
    flex-direction: row;
    align-items: center;
}

#trainerName{
    font-style: italic;
    font-weight:600;
    text-decoration: underline;
    margin:10%;
    word-break: break-all;
}

#trainerIcon{
    max-height:80px;
    max-width:40px;
    width:30px;
    left:0;
    margin:2%;
}

.yourTeam{
    flex:1;
}

.pokeBilde{
    overflow: hidden;
    max-height:calc(100%*0.15);
    width:auto;
}

.team{
    flex:15;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-start;
    max-height:77%;
}


