.pokedisplay{
    width:90vw;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    border:solid black 3px;
    border-radius:7px;
    box-shadow:4px 4px;
    width:250px;
    height:150px;
    margin: 20px;
    text-align:center;
    position:relative;
}

#pokeimg{
    position: relative;
    transform: translateY(5px) scale(1.1);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box:hover{
    position: relative;
    transform: translateY(0) scale(1.2);
}

.box:hover #pokeimg {
    transform: translateY(0) scale(1.1);
}


#pokeNumber{
    position:absolute;
    left:0;
    top:0;
    margin:1%;
    font-weight:600;
    font-family: "Pixeloid";
}

#pokeName{
    font-weight:600;
}

.nextprevbuttons{
    width:90vw;
    display:flex;
    margin:10px;
    justify-content: center;
}

#loading{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#loadingball{
    height:20px;
    max-width:20px;
}

#prev, #next{
    border:solid black 1px;
    margin:10px auto;
    width:fit-content;
    border-radius: 10px;
}

.firstPage{
    cursor: pointer;
}
.currentPpage{
    cursor: default;
}
.lastPage{
    cursor: pointer;
}



